%p#notice= notice
%p
%h2 TELEPHONE VERIFICATION REPORT
%p
  %b BRANCH:
  = @itr_verification_report.branch
  %br
%p
  %b CUSTOMER NAME:
  =@itr_verification_report.customer_name
%p
  %b CO-APPLICANT NAME:
  = @itr_verification_report.co_applicant_name
%h4 APPLICANT
%h5 AY
%h5 AY
%h5 AY
%h4 CO OBLIGANT
%h5 AY
%h5 AY
%h5 AY
%p
  %b Acknowledgement No
  = @itr_verification_report.app_acknowledge_no_1
  = @itr_verification_report.app_acknowledge_no_2
  = @itr_verification_report.app_acknowledge_no_3
  %br
  = @itr_verification_report.co_obligant_acknowledge_no_1 
  = @itr_verification_report.co_obligant_acknowledge_no_2
  = @itr_verification_report.co_obligant_acknowledge_no_3
  
%p
  %b Date of Filling I.T.Return
  = @itr_verification_report.app_date_IT_return_no_1
  = @itr_verification_report.app_date_IT_return_no_2
  = @itr_verification_report.app_date_IT_return_no_3
  %br
  = @itr_verification_report.co_obligant_date_IT_return_no_1
  = @itr_verification_report.co_obligant_date_IT_return_no_2
  = @itr_verification_report.co_obligant_date_IT_return_no_3
  
%p
  %b Returned income (Rs)
  = @itr_verification_report.app_return_income_1
  = @itr_verification_report.app_return_income_2
  = @itr_verification_report.app_return_income_3
  %br
  = @itr_verification_report.co_obligant_return_income_1
  = @itr_verification_report.co_obligant_return_income_2
  = @itr_verification_report.co_obligant_return_income_3 
  
%p
  %b Income Tax Paid (Rs)
  = @itr_verification_report.app_income_tax_1 
  = @itr_verification_report.app_income_tax_2 
  = @itr_verification_report.app_income_tax_3 
  %br
  = @itr_verification_report.co_obligant_income_tax_1
  = @itr_verification_report.co_obligant_income_tax_2
  = @itr_verification_report.co_obligant_income_tax_3
  %br
%p
  %b REMARKS
  =@itr_verification_report.remarks
%p
  %b DATE
  =@itr_verification_report.date    
%p
  %b PLACE
  =@itr_verification_report.place      
     
  
  
  
    
= link_to 'Edit', edit_itr_verification_report_path(@itr_verification_report)
\|
= link_to 'Back', itr_verification_reports_path
