= form_for @site_inspection do |f|
  - if @site_inspection.errors.any?
    #error_explanation
      %h2= "#{pluralize(@site_inspection.errors.count, "error")} prohibited this site_inspection from being saved:"
      %ul
        - @site_inspection.errors.full_messages.each do |msg|
          %li= msg
  %table.table.table-bordered
    %tr
      %td         
        = f.label :branch, 'BRANCH:' 
      %td      
        = f.text_field :branch
    %tr    
      %td
        =f.label :name ,'CUSTOMER NAME: '
      %td  
        = f.text_field :name
    %tr
      %td    
        =f.label :address, 'ADDRESS(SITE):'
      %td  
        = f.text_area :address,:rows=>5
    %tr
      %td  
        =f.label :phone, 'TEL NO:'
      %td 
        = f.text_field :phone
    %tr
      %td 
        =f.label :date_site_visit, 'Date of Site Visit:'
      %td
        = f.date_select :date_site_visit,:start_year => Time.now.year - 30, :end_year => Time.now.year + 1, :include_blank => true 
    %tr
      %td 
        =f.label :verifier_name, 'Name of the Verifier:'
      %td  
        = f.text_field :verifier_name
    %tr
      %td    
        =f.label :contact_person, 'Contact Person/Designation:'
      %td
        = f.text_field :contact_person
    %tr
      %td 
        =f.label :landmark, 'Land Mark'
      %td
        = f.text_field :landmark
    %tr
      %td
        =f.label :remarks, 'Remarks'
      %td
        = f.text_area :remarks,:rows=>10
    %tr
      %td  
        =f.label :verifier_name2, 'Verifier Name:'
      %td  
        = f.text_field :verifier_name2
    %tr
      %td
        =f.label :date_of_verification, 'Date of Verification:'
      %td
        = f.date_select :date_of_verification,:start_year => Time.now.year - 30, :end_year => Time.now.year + 1, :include_blank => true 
    %tr
      %td
        =f.label :date, 'Date:'
      %td
        = f.date_select :date,:start_year => Time.now.year - 30, :end_year => Time.now.year + 1, :include_blank => true 
    %tr
      %td
        Place
      %td
        =f.text_field :place
  .actions
    = f.submit 'Save'
