.credit_card
  = f.label :issued_by, 'Issued By'
  = f.text_field :issued_by     
  
  = f.label :card_number, 'Card Number'
  = f.text_field :card_number 

  = f.label :credit_limit_fixed, 'Credit Limit Fixed'
  = f.text_field :credit_limit_fixed 

  = f.label :date_of_expiry, 'Date of Expiry'
  = f.date_select :date_of_expiry,:start_year => Time.now.year - 30, :end_year => Time.now.year + 1, :include_blank => true 
