.loan_detail
  = f.label :bank, 'Bank/Institution'
  = f.text_field :bank      
  
  = f.label :loan_type, 'Loan Type'
  = f.text_field :loan_type 

  = f.label :loan_amount, 'Loan Amount'
  = f.text_field :loan_amount 

  = f.label :tenure, 'Tenure'
  = f.text_field :tenure 

  = f.label :date_of_loan, 'Date of Loan'
  = f.text_field :date_of_loan,:start_year => Time.now.year - 30, :end_year => Time.now.year + 1, :include_blank => true 

  = f.label :emi, 'EMI'
  = f.date_select :emi 
  
