%h5 EVALUATION SHEET

.form-search.form-search_factory
  = form_for @search, :url => evaluation_sheets_path do |f|
    %table.search_factory
      %tr
        %td
          = f.label :date_of_receipt_greater_than_or_equal_to, "Date Of Receipt Of The File"      
        %td
          = f.date_select :date_of_receipt_greater_than_or_equal_to,{:include_blank => true}, {:class => "span1"}
        %td   
          = f.label :date_of_report_greater_than_or_equal_to, "Date Of The Report" 
        %td
          = f.date_select :date_of_report_greater_than_or_equal_to, {:include_blank =>true}, {:class => "span1"}
        %td    
          = f.submit "Search",:class => "btn btn-inverse"  
.clearfix  



.section  
  .section-header
    %h3.left Evaluation Sheet
    = link_to '<i class="icon-plus-sign"></i> New Evaluation sheet'.html_safe, new_evaluation_sheet_path, class: 'right btn'
  .section-body
    %table.table.table-bordered
      %tr
        %th Date Of Receipt Of The File
        %th Date Of The Report
        %th Action

      - @evaluation_sheets.each do |evaluation_sheet|
        %tr
          %td= evaluation_sheet.date_of_receipt
          %td= evaluation_sheet.date_of_report
          %td= link_to 'Show', evaluation_sheet, :class => "btn"
          %td= link_to 'Edit', edit_evaluation_sheet_path(evaluation_sheet), :class => "btn"
          %td= link_to 'Destroy', evaluation_sheet, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn"  
          
          
= will_paginate(@evaluation_sheets)	               
