= form_for @telephone_verification do |f|
  - if @telephone_verification.errors.any?
    #error_explanation
      %h2= "#{pluralize(@telephone_verification.errors.count, "error")} prohibited this telephone_verification from being saved:"
      %ul
        - @telephone_verification.errors.full_messages.each do |msg|
          %li= msg
  %table.table.table-bordered
    %tr
      %td
        =f.label :borrowers_name, 'BORROWERS NAME:'
      %td
        =f.text_field :borrowers_name
    %tr
      %td
        =f.label :date_of_receipt, 'DATE OF RECEIPT:' 
      %td      
        =f.date_select :date_of_receipt,:start_year => Time.now.year - 30, :end_year => Time.now.year + 1, :include_blank => true 
    %tr
      %td
        =f.label :Res_phone_no, 'RESIDENCE CONTACT PHONE NO:'
      %td  
        = f.text_field :Res_phone_no
    %tr    
      %td
        =f.label :person_contacted, 'PERSON CONTACTED/RELATIONSHIP:'
      %td
        = f.text_field :person_contacted
    %tr
      %td
        =f.label :res_addr, 'RESIDENCE ADDRESS:'
      %td
        = f.text_area :res_addr,:rows=>5
    %tr
      %td
        =f.label :phone_no_borrower1, 'PHONE NUMBER:'
      %td
        =f.text_field :phone_no_borrower1
    %tr
      %td
        =f.label :borrowers_dob, 'BORROWERS DATE OF BIRTH:'
      %td       
        =f.date_select :borrowers_dob,:start_year => Time.now.year - 30, :end_year => Time.now.year + 1, :include_blank => true
    %tr
      %td
        =f.label :years_at_res, 'YEARS AT RESIDENCE:'
      %td  
        = f.text_field :years_at_res
    %tr
      %td
        =f.label :premises, 'PREMISES:'
      %td
        = f.text_field :premises
    %tr
      %td
        =f.label :cell_no, 'CELLULAR NUMBER:'
      %td 
        =f.text_field :cell_no
    %tr
      %td
        =f.label :comments1, 'COMMENTS:'
      %td  
        =f.text_area :comments1,:rows=>5
    %tr
      %td 
        =f.label :business_contact_no, 'BUSINESS CONTACT PHONE NO:'
      %td
        =f.text_field :business_contact_no
    %tr
      %td
        =f.label :person_contacted_des, 'PERSON CONTACTED/DESIGNATION:'
      %td
        =f.text_field :person_contacted_des
    %tr
      %td
        =f.label :business_addr, 'BUSINESS ADDRESS:'
      %td  
        =f.text_area :business_addr,:rows=>5
    %tr
      %td
        =f.label :designation_borrower, 'DESIGNATION OF BORROWER:'
      %td 
        =f.text_field :designation_borrower
    %tr
      %td
        =f.label :nature_of_business, 'NATURE OF BUSINESS:'
      %td
        =f.text_area :nature_of_business,:rows=>5
    %tr
      %td
        =f.label :phone_no_borrower2, 'PHONE NUMBER:'
      %td
        =f.text_field :phone_no_borrower2
    %tr
      %td
        =f.label :comments2, 'COMMENTS:'
      %td
        =f.text_area :comments2,:rows=>5
    %tr
      %td
        =f.label :call_attempts, 'CALL ATTEMPTS:'
      %td 
        =f.text_field :call_attempts
    %tr
      %td
        =f.label :residence, 'RESIDENCE:'
      %td
        =f.text_field :residence
    %tr
      %td
        =f.label :office, 'OFFICE:'
      %td
        =f.text_field :office
    %tr
      %td
        =f.label :verifiers_name, 'VERIFIERS NAME:'
      %td
        =f.text_field :verifiers_name
    %tr
      %td
        =f.label :date_of_contact, 'DATE OF CONTACT:'
      %td       
        =f.date_select :date_of_contact,:start_year => Time.now.year - 30, :end_year => Time.now.year + 1, :include_blank => true 
    %tr
      %td
        =f.label :date, 'DATE:'  
      %td     
        =f.date_select :date,:start_year => Time.now.year - 30, :end_year => Time.now.year + 1, :include_blank => true 
  
  .actions
    = f.submit 'Save'
