%p#notice= notice
%h2 TELEPHONE VERIFICATION REPORT
%p
  %b BORROWERS NAME:
  = @telephone_verification.borrowers_name
  %br
%p
  %b DATE OF RECEIPT:
  = @telephone_verification.date_of_receipt
%p
  %b RESIDENCE CONTACT PHONE NO:
  = @telephone_verification.Res_phone_no
%p
  %b PERSON CONTACTED/RELATIONSHIP:
  = @telephone_verification.person_contacted
%p
  %b RESIDENCE ADDRESS:
  = @telephone_verification.res_addr
%p
  %b PHONE NUMBER:
  = @telephone_verification.phone_no_borrower1
%p
  %b BORROWERS DATE OF BIRTH:
  = @telephone_verification.borrowers_dob
%p
  %b YEARS AT RESIDENCE:
  = @telephone_verification.years_at_res
%p
  %b PREMISES:
  = @telephone_verification.premises
%p
  %b CELLULAR NUMBER:
  = @telephone_verification.cell_no 
%p
  %b COMMENTS::
  = @telephone_verification.comments1 
%p
  %b BUSINESS CONTACT PHONE NO:
  = @telephone_verification.business_contact_no
%p
  %b PERSON CONTACTED/DESIGNATION:
  = @telephone_verification.person_contacted_des 
%p
  %b BUSINESS ADDRESS:
  = @telephone_verification.business_addr
 
%p
  %b DESIGNATION OF BORROWER:
  = @telephone_verification.designation_borrower
%p
  %b NATURE OF BUSINESS:
  = @telephone_verification.nature_of_business
%p
  %b PHONE NUMBER:
  = @telephone_verification.phone_no_borrower2
%p
  %b COMMENTS:
  = @telephone_verification.comments2
%p
  %b CALL ATTEMPTS:
  = @telephone_verification.call_attempts
%p
  %b RESIDENCE:
  = @telephone_verification.residence
%p
  %b OFFICE:
  = @telephone_verification.office
%p
  %b VERIFIERS NAME:
  = @telephone_verification.verifiers_name
%p
  %b DATE OF CONTACT:
  = @telephone_verification.date_of_contact
%p
  %b DATE:
  = @telephone_verification.date
 
= link_to 'Edit', edit_telephone_verification_path(@telephone_verification)
\|
= link_to 'Back', telephone_verifications_path
