= form_for @residence_verification_report do |f|
  - if @residence_verification_report.errors.any?
    #error_explanation
      %h2= "#{pluralize(@residence_verification_report.errors.count, "error")} prohibited this residence_verification_report from being saved:"
      %ul
        - @residence_verification_report.errors.full_messages.each do |msg|
          %li= msg
  %table
    %tr
      %th
        =f.label :name, 'NAME:'
      %td 
        =f.text_field :name
    %tr
      %th 
        =f.label :address, 'ADDRESS:'
      %td 
        =f.text_area :address,:rows=>5
    %tr
      %td
        =f.check_box :home_loan
        HOME LOAN
      %td
        =f.check_box :plot_loan
        PLOT LOAN
      %td  
        =f.check_box :others
        =f.label :others, 'OTHERS'
      %td
        %b (Specify):  
        =f.text_field :other_loan
    %tr
      %td
        =f.radio_button :salaried,'SALARIED' 
        =f.label :salaried,'SALARIED'
      %td
        =f.radio_button :salaried, 'SELF EMPLOYED' 
        =f.label :salaried,'SELF EMPLOYED'
      %td
        =f.radio_button :salaried, 'OTHERS' 
        =f.label :salaried,'OTHERS'
      %td
        %b (Specify):    
        =f.text_field :other_sal
    %tr
      %td
        =f.label :loan_amount, 'Loan Amount:Rs.'
      %td
        =f.text_field :loan_amount
    
  %table.table.table-bordered
    %tr
      %th{:colspan=>3} FOLLOWING ARE BASED ON VERIFIER'S OBSERVATION AND ARE NOT TO BE ASKED FROM APPLICANT:
    %tr
      %th Locality/:
      %td
        =f.radio_button :locality,'Slum Area' 
        =f.label :locality,'Slum Area'
      %td
        =f.radio_button :locality, 'Chawl Area' 
        =f.label :locality,'Chawl Area'
        
    %tr 
      %th
        Surroundings: 
      %td
        =f.radio_button :surroundings,'Underdeveloped Area'
        =f.label :surroundings,'Underdeveloped Area'
      %td 
        =f.radio_button :surroundings,'Big Housing Complex'
        =f.label :surroundings,'Big Housing Complex'
    %tr 
      %th   
      %td 
        =f.radio_button :surroundings,'Residential Building'
        =f.label :surroundings,'Residential Building'

      %td  
        =f.radio_button :surroundings,'Commercial Buildings'
        =f.label :surroundings,'Commercial Buildings'
    %tr
      %th
      %td{:colspan => 2} 
        =f.radio_button :surroundings,'Small/Mediam Size Shops'
        =f.label :surroundings,'Small/Mediam Size Shops'
    %tr
      %td{:colspan => 3}       
    %tr 
      %th
        %b Accessibility: 
      %td{:colspan => 2}     
        =f.radio_button :accessibility,'Easy to Locate and Access'
        =f.label :accessibility,'Easy to Locate and Access'
    %tr
      %th    
      %td  
        =f.radio_button :accessibility,'Difficult to Locate'
        =f.label :accessibility,'Difficult to Locate'

      %td 
        =f.radio_button :accessibility,'Untraceable'
        =f.label :accessibility,'Untraceable'
    %tr
      %th
      %td{:colspan=>2}
        =f.radio_button :accessibility,'Gulli (Verry Narrow Road-Less Than 6Ft.Wide)'
        =f.label :accessibility,'Gulli (Verry Narrow Road-Less Than 6Ft.Wide)'
    %tr
      %th
        %b Is the entrance motorable:
      %td 
        =f.radio_button :entrance_motorable, true 
        =f.label :entrance_motorable,'Yes'
      %td  
        =f.radio_button :entrance_motorable, false
        =f.label :entrance_motorable,'No'
    %tr
      %th
        Is The Address Confirmed:
      %td 
        =f.radio_button :add_conf, true
        =f.label :add_conf,'Yes'
      %td 
        =f.radio_button :add_conf, false 
        =f.label :add_conf,'No'
    %tr
      %th Correct Pincode
      %td 
        = f.text_field :correct_pin
      %td 
        %b Prominent Landmark 
        = f.text_field :prominent_landmark
  %table.table.table-bordered
    %tr
      %th Type of:
      %td  
        =f.radio_button :type_off,'Chawl'
        =f.label :type_off, 'Chawl'  
      %td  
        =f.radio_button :type_off,'Slum'
        =f.label :type_off, 'Slum'
      %td
        =f.radio_button :type_off,'Flat'
        =f.label :type_off, 'Flat'
      %td
        =f.radio_button :type_off,'Hotel/Lodge/Mansion'
        =f.label :type_off, 'Hotel/Lodge/Mansion'
    %tr
      %th Accomodation:
      %td
        =f.radio_button :accomodation,'Small Independent House'
        =f.label :accomodation, 'Small Independent House'
      %td{:colspan=>3}
        =f.radio_button :accomodation,'Large Independent House'
        =f.label :accomodation, 'Large Independent House'
    %tr
      %th
      %td   
        =f.radio_button :accomodation,'Hostel'
        =f.label :accomodation, 'Hostel'
      %td{:colspan=>3}  
        =f.radio_button :accomodation,'Bachelor/Shared Accomodation'
        =f.label :accomodation, 'Bachelor/Shared Accomodation'
    %tr
      %th
      %td{:colspan=>5}   
        =f.radio_button :accomodation,'Small Unit Within a House (Garage/Varsati etc)'
        =f.label :accomodation, 'Small Unit Within a House (Garage/Varsati etc)'
    %tr
      %th
      %td    
        =f.radio_button :accomodation,'Block'
        =f.label :accomodation, 'Block'
      %td{:colspan=>3}  
        =f.radio_button :accomodation,'Others(PI .Specify)'
        =f.label :accomodation, 'Others(PI .Specify)'
        = f.text_field :accom_others
    %tr
      %th Residence:
      %td  
        =f.label :no_of_stories, 'No of Stories'
        = f.text_field :no_of_stories
      %td
        =f.label :watchman, 'Watchman:'
        =f.radio_button :watchman,true 
        =f.label :watchman, 'Yes'
        =f.radio_button :watchman,false
        =f.label :watchman, 'No'
      %td{:colspan=>3}
        =f.label :lift, 'Lift'
        =f.radio_button :lift,true
        =f.label :lift, 'Yes'
        =f.radio_button :lift,false
        =f.label :lift, 'No'
    %tr
      %th 
      %td
        %b Security Board
      %td{:colspan=>4} 
        =f.radio_button :security_board,true
        =f.label :security_board, 'Yes'
        =f.radio_button :security_board,false
        =f.label :security_board, 'No'
    %tr
      %th 
      %td
        %b Applicant name outside door/gate
      %td{:colspan=>4}  
        =f.radio_button :app_name_outside_door,true
        =f.label :app_name_outside_door, 'Yes'
        =f.radio_button :app_name_outside_door,false
        =f.label :app_name_outside_door, 'No'
    %tr
      %th 
      %td
        %b No of Cars Seen in and around residence
      %td 
        = f.text_field :cars_seen_in_around_res
      %td{:colspan=>3}  
        =f.label :make, 'make'
        = f.text_field :make
    %tr
      %th    
      %td{:colspan=>5}
        %b External appearance of the building/society
    %tr
      %th    
      %td     
        =f.radio_button :ext_appearence_of_build, 'Excellent'
        =f.label :ext_appearence_of_build, 'Excellent'
      %td
        =f.radio_button :ext_appearence_of_build,'Good'
        =f.label :ext_appearence_of_build, 'Good'
      %td
        =f.radio_button :ext_appearence_of_build,'Fair'
        =f.label :ext_appearence_of_build, 'Fair'
      %td{:colspan=>2}  
        =f.radio_button :ext_appearence_of_build,'Poor'
        =f.label :ext_appearence_of_build, 'Poor'
    %tr
      %th    
      %td 
        %b Seperate Car Parking Slot
      %td{:colspan=>4}
        =f.radio_button :car_park,true
        =f.label :car_park, 'Yes'
        =f.radio_button :security_board,false
        =f.label :car_park, 'No'
    %tr
      %th Entry Into Residence Permited    
      %td 
        =f.radio_button :entry_into_res_permited,'Yes'
        =f.label :entry_into_res_permited, 'Yes'
      %td 
        =f.radio_button :entry_into_res_permited,'No'
        =f.label :entry_into_res_permited, 'No'
      %td{:colspan=>3}
        =f.radio_button :entry_into_res_permited,'Door Locked'
        =f.label :entry_into_res_permited, 'Door Locked'
    %tr
      %th Person Contacted (Name):   
      %td{:colspan=>5} 
        = f.text_field :person_cont_name
    %tr
      %th Relationship:   
      %td{:colspan=>5}  
        = f.text_field :relationship
    %tr
      %th Residence Internal furnishing 
      %td 
        =f.radio_button :res_internal_furni,'Plush Interior'
        =f.label :res_internal_furni, 'Plush Interior'
      %td   
        =f.radio_button :res_internal_furni,'Good/Fair Interior'
        =f.label :res_internal_furni, 'Good/Fair Interior'
      %td{:colspan=>3}  
        =f.radio_button :res_internal_furni,'Poor Interior'
        =f.label :res_internal_furni, 'Poor Interior'
    %tr
      %th Assets seen 
      %td
        = check_box_tag("residence_verification_report[assets_seen][wallunit]","1", ((@residence_verification_report.assets_seen['wallunit'] == "1")? true : false) )
        Wall Unit
      %td
        = check_box_tag("residence_verification_report[assets_seen][sofaset]","1", ((@residence_verification_report.assets_seen['sofaset'] == "1")? true : false) )
        Sofa Set
      %td{:colspan=>3}
        = check_box_tag("residence_verification_report[assets_seen][carpet]","1", ((@residence_verification_report.assets_seen['carpet'] == "1")? true : false) )
        Carpet
    %tr   
      %th
      %td
        = check_box_tag("residence_verification_report[assets_seen][fridge]","1", ((@residence_verification_report.assets_seen['fridge'] == "1")? true : false) )
        Fridge
      %td
        = check_box_tag("residence_verification_report[assets_seen][phone]","1", ((@residence_verification_report.assets_seen['phone'] == "1")? true : false) )
        Phone
      %td{:colspan=>3}
        = check_box_tag("residence_verification_report[assets_seen][tv]","1", ((@residence_verification_report.assets_seen['tv'] == "1")? true : false) )
        TV
    %tr
      %th  
      %td
        = check_box_tag("residence_verification_report[assets_seen][dining_table]","1", ((@residence_verification_report.assets_seen['dining_table'] == "1")? true : false) )
        Dining Table
      %td
        = check_box_tag("residence_verification_report[assets_seen][music_system]","1", ((@residence_verification_report.assets_seen['music_system'] == "1")? true : false) )
        Music System
      %td{:colspan=>3}
        = check_box_tag("residence_verification_report[assets_seen][others]","1", ((@residence_verification_report.assets_seen['others'] == "1")? true : false) )
        Others
        = f.text_field :others
    %tr   
      %th Does the residence appear to be
      %td 
        =f.radio_button :res_appear_to_be,'Single Room Unit'
        =f.label :res_appear_to_be, 'Single Room Unit'
      %td  
        =f.radio_button :res_appear_to_be,'04 BR Unit'
        =f.label :res_appear_to_be, '04 BR Unit'
      %td{:colspan=>3}
        =f.radio_button :res_appear_to_be,'More than 1 Bed Room'
        =f.label :res_appear_to_be, 'More than 1 Bed Room'
        
  %table.table.table-bordered      
    %tr   
      %th Approximate Size of Flat/House Sq.ft
      %td 
        =f.text_field :appro_size_flat_sqft
      %td
        =f.label :sq_yards,'OR Sq.yards'
        =f.text_field :sq_yards
      %td
        =f.label :ground,' OR Ground'
        =f.text_field :ground
    %tr   
      %th Domestic Help Seen
      %td{:colspan=>3} 
        =f.radio_button :domestic_help,true
        =f.label :domestic_help,'Yes'
        =f.radio_button :domestic_help,false
        =f.label :domestic_help,'No'
    %tr   
      %th Date:
      %td{:colspan=>3} 
        = f.date_select :date_1,:start_year => Time.now.year - 30, :end_year => Time.now.year + 1, :include_blank => true 
    %tr   
      %th Remarks
      %td{:colspan=>3}
        =f.text_area:remarks,:rows => 5
    %tr
      %th Date:
      %td{:colspan=>3}   
        = f.date_select :date_2,:start_year => Time.now.year - 30, :end_year => Time.now.year + 1, :include_blank => true  
  
  
    
  
   
  
  .actions
    = f.submit 'Save'
