%h5 RESIDENCE VERIFICATION REPORT

.form-search.form-search_factory
  = form_for @search, :url => residence_verification_reports_path do |f|
    %table.search_factory
      %tr
        %td
          = f.label :name_contains, "NAME:"      
        %td
          = f.text_field :name_contains,:class => "span2", :placeholder => "Enter Name "
        %td    
          = f.submit "Search",:class => "btn btn-inverse"  
.clearfix  

.section  
  .section-header
    %h3.left RESIDENCE VERIFICATION
    = link_to '<i class="icon-plus-sign"></i> New RESIDENCE VERIFICATION REPORT'.html_safe, new_residence_verification_report_path, class: 'right btn'
  .section-body
    %table.table.table-bordered
      %tr
        %th NAME
        %th ACTION
      - @residence_verification_report.each do |res_verification|
        %tr
          %td= res_verification.name
          %td= link_to 'Show', res_verification, :class => "btn"
          %td= link_to 'Edit', edit_residence_verification_report_path(res_verification), :class => "btn"
          %td= link_to 'Destroy', res_verification, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn"


= will_paginate(@residence_verification_report)

