%p#notice= notice
%h2 RESIDENCE VERIFICATION REPORT
%p
  %b NAME:
  = @residence_verification_report.name
  %br  

%p
  %b ADDRESS:
  = @residence_verification_report.address
  %br
  %table
  %tr
  %td
  =check_box_tag 'home_loan', "", (@residence_verification_report.home_loan)
  %b HOME LOAN
  %td
  =check_box_tag 'plot_loan', "", (@residence_verification_report.plot_loan) 
  %b PLOT LOAN
  %td
  =check_box_tag 'others' , "", (@residence_verification_report.others)
  %b OTHERS
  %td
  %b OTHER LOAN:
  = @residence_verification_report.other_loan
  
  %p
  %tr
  %td
  =check_box_tag 'salaried', "",((@residence_verification_report.salaried == 'SALARIED')?  true : false) 
  %b SALARIED
  %td
  =check_box_tag 'salaried', "",((@residence_verification_report.salaried == 'SELF EMPLOYED')?  true : false) 
  %b SELF EMPLOYED
  %td
  =check_box_tag 'salaried', "",((@residence_verification_report.salaried =='OTHERS')?  true : false) 
  %b OTHERS
  
%p
  %b Loan Amount : Rs.
  = @residence_verification_report.loan_amount
 
%p
  %h4 FOLLOWING ARE BASED ON VERIFIER'S OBSERVATION AND ARE NOT TO BE ASKED FROM APPLICANT:
  
%table
  %tr
    %th
      %b Locality/ :
    %td
      =check_box_tag 'locality',"",((@residence_verification_report.locality == 'Slum Area')?  true : false) 
      %b Slum Area
    %td
      =check_box_tag 'locality',"",((@residence_verification_report.locality == 'Chawl Area')?  true : false) 
      %b Chawl Area
  
  %tr
    %th
      %b Surroundings :
    %td
      =check_box_tag 'surroundings',"",((@residence_verification_report.surroundings == 'Underdeveloped Area')?  true : false)
      %b Underdeveloped Area
    %td  
      =check_box_tag 'surroundings',"",((@residence_verification_report.surroundings == 'Big Housing Complex')?  true : false)
      %b Big Housing Complex
  %tr
    %th    
    %td
      =check_box_tag 'surroundings',"",((@residence_verification_report.surroundings == 'Residential Building')?  true : false)
      %b Residential Building
    %td
      =check_box_tag 'surroundings',"",((@residence_verification_report.surroundings == 'Commercial Buildings')?  true : false)
      %b Commercial Buildings
  %tr
    %th        
    %td 
      =check_box_tag 'surroundings',"",((@residence_verification_report.surroundings == 'Small/Mediam Size Shops')?  true : false)
      %b Small/Mediam Size Shops
  
  %tr
    %th
      %b Accessibility :
    %td
      =check_box_tag 'accessibility',"",((@residence_verification_report.accessibility == 'Easy to Locate and Access')?  true : false)
      %b Easy to Locate and Access
  %tr
    %th      
    %td
      =check_box_tag 'accessibility',"",((@residence_verification_report.accessibility == 'Difficult to Locate')?  true : false)
      %b Difficult to Locate   
    %td
      =check_box_tag 'accessibility',"",((@residence_verification_report.accessibility == 'Untraceable')?  true : false)
      %b Untraceable
  %tr
    %th      
    %td   
      =check_box_tag 'accessibility',"",((@residence_verification_report.accessibility == 'Gulli (Verry Narrow Road-Less Than 6Ft.Wide)')?  true : false)
      %b Gulli (Verry Narrow Road-Less Than 6Ft.Wide)
  
  %tr
    %th
      %b Is the entrance motorable :
    %td
    %td  
      =check_box_tag 'entrance_motorable',"", (@residence_verification_report.entrance_motorable)
      %b Yes
    %td  
      =check_box_tag 'entrance_motorable',"", !(@residence_verification_report.entrance_motorable)
      %b No
  %tr
    %th
      %b Is The Address Confirmed :
    %td
    %td    
      =check_box_tag 'add_conf',"", (@residence_verification_report.add_conf)
      %b Yes
    %td  
      =check_box_tag 'add_conf',"", !(@residence_verification_report.add_conf)
      %b No
  
  %tr
    %th
      %b Correct Pincode:
    %td   
      = @residence_verification_report.correct_pin
      %b Prominent Landmark: 
    %td  
      = @residence_verification_report.prominent_landmark 
  
  %tr
    %th
      %b Type of
    %td  
      =check_box_tag 'type_off',"",((@residence_verification_report.type_off == 'Chawl')?  true : false)
      %b Chawl
    %td   
      =check_box_tag 'type_off',"",((@residence_verification_report.type_off == 'Slum')?  true : false)
      %b Slum
    %td   
      =check_box_tag 'type_off',"",((@residence_verification_report.type_off == 'Flat')?  true : false)
      %b Flat  
    %td
      =check_box_tag 'type_off',"",((@residence_verification_report.type_off == 'Hotel/Lodge/Mansion')?  true : false)
      %b Hotel/Lodge/Mansion
  
  %tr
    %th
      %b Accomodation:
    %td  
      =check_box_tag 'accomodation',"",((@residence_verification_report.accomodation == 'Small Independent House')?  true : false)
      %b Small Independent House
    %td  
      =check_box_tag 'accomodation',"",((@residence_verification_report.accomodation == 'Large Independent House')?  true : false)
      %b Large Independent House
  %tr
    %th
    %td    
      =check_box_tag 'accomodation',"",((@residence_verification_report.accomodation == 'Hostel')?  true : false)
      %b Hostel
    %td  
      =check_box_tag 'accomodation',"",((@residence_verification_report.accomodation == 'Bachelor/Shared Accomodation')?  true : false)
      %b Bachelor/Shared Accomodation
  %tr
    %th
    %td    
      =check_box_tag 'accomodation',"",((@residence_verification_report.accomodation == 'Small Unit Within a House (Garage/Varsati etc)')?  true : false)
      %b Small Unit Within a House (Garage/Varsati etc)
  %tr
    %th
    %td  
      =check_box_tag 'accomodation',"",((@residence_verification_report.accomodation == 'Block')?  true : false)
      %b Block
    %td  
      =check_box_tag 'accomodation',"",((@residence_verification_report.accomodation == 'Others(PI.Specify)')?  true : false)
      %b Others(PI.Specify)
    %td  
      = @residence_verification_report.accom_others
  
  %tr
    %th
      %b Residence:
    %td  
      %b No of Stories:
      = @residence_verification_report.no_of_stories
    %td  
      %b Watchman:
      =check_box_tag 'watchman',"", (@residence_verification_report.watchman)
      %b Yes
      =check_box_tag 'watchman',"", !(@residence_verification_report.watchman)
      %b No
    %td  
      %b Lift:
      =check_box_tag 'lift',"", (@residence_verification_report.lift)
      %b Yes
      =check_box_tag 'lift',"", !(@residence_verification_report.lift)
      %b No
  
  %tr
    %th
    %td
      %b Security Board:
    %td  
      =check_box_tag 'security_board',"", (@residence_verification_report.security_board)
      %b Yes
      =check_box_tag 'security_board',"", !(@residence_verification_report.security_board)
      %b No 
  
  %tr
    %th
    %td
      %b Applicant name outside door/gate
    %td  
      =check_box_tag 'app_name_outside_door',"", (@residence_verification_report.app_name_outside_door)
      %b Yes
      =check_box_tag 'app_name_outside_door',"", !(@residence_verification_report.app_name_outside_door)
      %b No   
  
  %tr
    %th
    %td
      %b No of Cars Seen in and around residence
    %td  
      = @residence_verification_report.cars_seen_in_around_res
      %b make
      = @residence_verification_report.make
  
  %tr
    %th
    %td
      %b External appearance of the building/society
  %tr
    %th
    %td
      =check_box_tag 'ext_appearence_of_build',"",((@residence_verification_report.ext_appearence_of_build == 'Excellent')?  true : false)
      %b Excellent 
    %td  
      =check_box_tag 'ext_appearence_of_build',"",((@residence_verification_report.ext_appearence_of_build == 'Good')?  true : false)
      %b Good
      =check_box_tag 'ext_appearence_of_build',"",((@residence_verification_report.ext_appearence_of_build == 'Fair')?  true : false)
      %b Fair 
      =check_box_tag 'ext_appearence_of_build',"",((@residence_verification_report.ext_appearence_of_build == 'Fair')?  true : false)
      %b Poor
  
  %tr
    %th
    %td
      %b Seperate Car Parking Slot
    %td  
      =check_box_tag 'car_park',"", (@residence_verification_report.car_park)
      %b Yes
      =check_box_tag 'car_park',"", !(@residence_verification_report.car_park)
      %b No
   
  %tr
    %th
    %td
      %b Entry Into Residence Permited:
    %td  
      =check_box_tag 'entry_into_res_permited',"",((@residence_verification_report.entry_into_res_permited == 'Yes')?  true : false)
      %b Yes
      =check_box_tag 'entry_into_res_permited',"",((@residence_verification_report.entry_into_res_permited == 'No')?  true : false)
      %b No
      =check_box_tag 'entry_into_res_permited',"",((@residence_verification_report.entry_into_res_permited == 'Door Locked')?  true : false)
      %b Door Locked
  
  %tr
    %th
      %b Person Contacted (Name):
      = @residence_verification_report.person_cont_name  
  
  %tr
    %th
      %b Relationship: 
      = @residence_verification_report.relationship 
  
  %tr
    %th
      %b Residence Internal furnishing:
    %td 
      =check_box_tag 'res_internal_furni',"",((@residence_verification_report.res_internal_furni == 'Plush Interior')?  true : false)
      %b Plush Interior
      =check_box_tag 'res_internal_furni',"",((@residence_verification_report.res_internal_furni == 'Good/Fair Interior')?  true : false)
      %b Good/Fair Interior
      =check_box_tag 'res_internal_furni',"",((@residence_verification_report.res_internal_furni == 'Poor Interior')?  true : false)
      %b Poor Interior
  
  %tr
    %th
      %b Assets seen:
    %td 
      =check_box_tag 'assets_seen_wallunit', "", @residence_verification_report.assets_seen['wallunit']
      %b Wall Unit
      =check_box_tag 'assets_seen_sofaset', "", @residence_verification_report.assets_seen['sofaset']
      %b Sofa Set
      =check_box_tag 'assets_seen_carpet', "", @residence_verification_report.assets_seen['carpet']
      %b Carpet
  %tr 
    %th   
    %td   
      =check_box_tag 'assets_seen_Fridge', "", @residence_verification_report.assets_seen['Fridge']
      %b Fridge
      =check_box_tag 'assets_seen_Phone', "", @residence_verification_report.assets_seen['Phone']
      %b Phone
      =check_box_tag 'assets_seen_TV', "", @residence_verification_report.assets_seen['TV']
      %b TV
  %tr
    %th    
    %td        
      =check_box_tag 'assets_seen_Dining_Table', "", @residence_verification_report.assets_seen['Dining Table']
      %b Dining Table
      =check_box_tag 'assets_seen_Music_System', "", @residence_verification_report.assets_seen['Music System']
      %b Music System
      =check_box_tag 'assets_seen_Others', "", @residence_verification_report.assets_seen['Others']
      %b Others
  
  %tr
    %th
      %b Does the residence appear to be:
    %td 
      =check_box_tag 'res_appear_to_be',"",((@residence_verification_report.res_appear_to_be == 'Single Room Unit')?  true : false)
      %b Single Room Unit
      =check_box_tag 'res_appear_to_be',"",((@residence_verification_report.res_appear_to_be == '04 BR Unit')?  true : false)
      %b '04 BR Unit'
  %tr
    %th
    %td    
      =check_box_tag 'res_appear_to_be',"",((@residence_verification_report.res_appear_to_be == 'More than 1 Bed Room')?  true : false)
      %b 'More than 1 Bed Room'
 
  %tr
    %th
      %b Approximate Size of Flat/House Sq.ft__________
      = @residence_verification_report.appro_size_flat_sqft
    %td  
      %b OR Sq.yards__________
    %td  
      = @residence_verification_report.sq_yards
  %tr
    %th
    %td     
      %b  OR Ground__________
  %tr
    %th
    %td
    %td    
      = @residence_verification_report.ground
  
  %tr
    %th
      %b Domestic Help Seen:
    %td 
      =check_box_tag 'domestic_help',"", (@residence_verification_report.domestic_help)
      %b Yes
      =check_box_tag 'domestic_help',"", !(@residence_verification_report.domestic_help)
      %b No
  
  %tr
    %th
      %b Date:
    %td 
      = @residence_verification_report.date_1
 
%table    
  %tr
    %th
      %b Remarks:
    %td
      = @residence_verification_report.remarks


  %tr
    %th
      %b Date:
    %td 
  = @residence_verification_report.date_2
 
= link_to 'Edit', edit_residence_verification_report_path(@residence_verification_report)
\|
= link_to 'Back', residence_verification_reports_path

