!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "CA"
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
      
   
 
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand(href="#") 
            %i.icon-home.icon-white
            CA
          %ul.nav
            %li{:class => ('active' if request.fullpath =~ /evaluation_sheets/)} 
              = link_to "EVALUATION SHEET", evaluation_sheets_path, :class=>"first active"
            %li{:class => ('active' if request.fullpath =~ /telephone_verifications/)}
              = link_to "TELEPHONE VERIFICATION", telephone_verifications_path
            %li{:class => ('active' if request.fullpath =~ /itr_verification_reports/)}
              = link_to "ITR VERIFICATION", itr_verification_reports_path
            %li{:class => ('active' if request.fullpath =~ /site_inspections/)}
              = link_to "SITE INSPECTION", site_inspections_path
            %li{:class => ('active' if request.fullpath =~ /residence_verification_reports/)}
              = link_to "RESIDENCE VERIFICATION", residence_verification_reports_path
            %li{:class => ('active' if request.fullpath =~ /business_verification_reports/)}
              = link_to "BUSINESS VERIFICATION",  business_verification_reports_path
        .container
          .content
            .row
              .span12
                = render 'shared/alert'
                = yield :breadcrumb
                = yield
